.animated-words-text__word-mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  line-height: inherit;
}

.animated-words-text__word {
  display: inline-block;
  will-change: transform;
  font-size:1.75rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-decoration: none;
}
